.footerContact {
  background-color:#1d2636;
  padding: 40px 0;
  color: #fff;
}
.footerContact h1 {
  font-size: 40px;
}
footer {
  background-color: #1d2636;
  padding: 50px 0;
  color: #fff;
}
footer .container {
  display: grid;
  grid-template-columns: 6fr 2fr 2fr 1fr;
  grid-gap: 40px;
}
footer img {
  width: 150px;
}
footer h2 {
  font-weight: 500;
}
footer p {
  color: grey;
  margin: 20px 0;
}
.footer lower__footer{
  text-align: left;
}
.lower__footer {
  margin: 0 5rem;
  display: flex;
  justify-content: space-between;

  border-top: 0.02rem solid var(--primary-color);
  padding-top: 1rem;
  margin-top: 1rem;
  gap: 3rem;
  
}
 .lower__footer ul {
    display: flex;
    list-style-type: none;
    gap:2rem;
  
    
 }
    .lower__footer li {
      transition: 0.5s ease-in-out;
      cursor: pointer;

    }
      
    .lower__footer a {
      display: flex;
      list-style-type: none;
      color: gray;
   
   }
    
   .lower__footer a :hover {
    display: flex;
    list-style-type: none;
    color: #000;
 }
footer input {
  background-color: #fff;
  padding: 17px;
  width: 80%;
  border-radius: 3px;
}
footer h3 {
  font-weight: 500;
  margin-bottom: 30px;
}
footer ul {
  display: block;
}
footer ul li {
  display: block;
  color: grey;
  margin-bottom: 20px;
}
.legal {
  text-align: center;
  padding: 20px;
  background: #1d2636;
  color: rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
@media screen and (max-width: 800px) {
  footer .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .footer input{
    width: 100%;
    margin-bottom: 30px;
  }
  .footer h3 {
    flex-direction: column;
  }
  .footer .container  {
    width: 100%;
  }
}

.input flex{
  width: 100%;
  margin-bottom: 30px;
}
.lower__footer ul{
  width: 100%;
  margin-bottom: 30px;
}
.lower__footer {
  flex-direction: column;
}
.footer .container  {
  width: 100%;
}


.footer img{
width: 100%;
margin-bottom: 30px;
}